<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f3b2a8">  <td>21/02/04 22:56:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MT.beforeClass()[pri:0, instance:com.dollardays.testcases.babytestcase@19e4653c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1314838582</td>   <td></td> </tr>
<tr bgcolor="7486f4">  <td>21/02/04 22:56:58</td>   <td>653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@19e4653c]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@1314838582</td>   <td></td> </tr>
<tr bgcolor="689a9e">  <td>21/02/04 22:57:08</td>   <td>10584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_01(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@19e4653c]">TC_DD_Baby_01</td> 
  <td>main@1314838582</td>   <td></td> </tr>
<tr bgcolor="7486f4">  <td>21/02/04 22:57:08</td>   <td>10848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@19e4653c]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@1314838582</td>   <td></td> </tr>
<tr bgcolor="f3b2a8">  <td>21/02/04 22:57:09</td>   <td>11939</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MT.afterClass()[pri:0, instance:com.dollardays.testcases.babytestcase@19e4653c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
