<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.dollardays.testcases.babytestcase</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC_DD_Baby_06</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_DD_Baby_07</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_DD_Baby_10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_DD_Baby_05</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_DD_Baby_04</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_DD_Baby_09</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_DD_Baby_08</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_DD_Baby_11</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_DD_Baby_01</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_DD_Baby_03</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_DD_Baby_02</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUpBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quit</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
