<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7486f4">  <td>21/02/08 13:28:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MT.beforeClass()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:28:26</td>   <td>710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:28:37</td>   <td>11075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_01(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_01</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:28:42</td>   <td>15999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:28:43</td>   <td>17465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:28:52</td>   <td>26778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_02(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_02</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:28:59</td>   <td>33001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:29:00</td>   <td>34022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:29:09</td>   <td>43802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_03(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_03</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:29:15</td>   <td>49348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:29:16</td>   <td>50415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:29:26</td>   <td>60306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_04(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_04</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:29:31</td>   <td>65715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:29:32</td>   <td>66737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:29:42</td>   <td>76062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_05(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_05</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:29:49</td>   <td>83603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:29:50</td>   <td>84615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:29:59</td>   <td>93896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_06(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_06</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:30:05</td>   <td>99457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:30:06</td>   <td>100476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:30:15</td>   <td>109634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_07(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_07</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:30:23</td>   <td>117261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:30:24</td>   <td>118230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:30:33</td>   <td>127772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_08(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_08</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:30:41</td>   <td>135223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:30:42</td>   <td>136148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:30:51</td>   <td>145358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_09(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_09</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:30:58</td>   <td>152666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:30:59</td>   <td>153714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:31:09</td>   <td>163214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_10(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_10</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:31:16</td>   <td>170626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:31:17</td>   <td>171579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:31:27</td>   <td>181069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_11(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_11</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:31:34</td>   <td>188589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="7486f4">  <td>21/02/08 13:31:35</td>   <td>189529</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MT.afterClass()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
</table>
