<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:28:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_01(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_01</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:28:52</td>   <td>15703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_02(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_02</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:29:09</td>   <td>32727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_03(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_03</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:29:26</td>   <td>49231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_04(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_04</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:29:42</td>   <td>64987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_05(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_05</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:29:59</td>   <td>82821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_06(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_06</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:30:15</td>   <td>98559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_07(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_07</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:30:33</td>   <td>116697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_08(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_08</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:30:51</td>   <td>134283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_09(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_09</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:31:09</td>   <td>152139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_10(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_10</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b3d869">  <td>21/02/08 13:31:27</td>   <td>169994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="babytestcase.TC_DD_Baby_11(java.util.Hashtable)[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">TC_DD_Baby_11</td> 
  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="7486f4">  <td>21/02/08 13:31:35</td>   <td>178454</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MT.afterClass()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="7486f4">  <td>21/02/08 13:28:26</td>   <td>-11075</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MT.beforeClass()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:28:42</td>   <td>4924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:28:59</td>   <td>21926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:29:15</td>   <td>38273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:29:31</td>   <td>54640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:29:49</td>   <td>72528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:30:05</td>   <td>88382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:30:23</td>   <td>106186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:30:41</td>   <td>124148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:30:58</td>   <td>141591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:31:16</td>   <td>159551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:31:34</td>   <td>177514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quit()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:28:26</td>   <td>-10365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:28:43</td>   <td>6390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:29:00</td>   <td>22947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:29:16</td>   <td>39340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:29:32</td>   <td>55662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:29:50</td>   <td>73540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:30:06</td>   <td>89401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:30:24</td>   <td>107155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:30:42</td>   <td>125073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:30:59</td>   <td>142639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
<tr bgcolor="b260fa">  <td>21/02/08 13:31:17</td>   <td>160504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBrowser()[pri:0, instance:com.dollardays.testcases.babytestcase@7f485fda]">&gt;&gt;setUpBrowser</td> 
<td>&nbsp;</td>  <td>main@120360571</td>   <td></td> </tr>
</table>
